@import "tailwindcss";

@font-face {
  font-family: monsterratLight;
  src: url(/Fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: primaryELight;
  src: url(/Fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: primary;
  src: url(/Fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: primaryBold;
  src: url(/Fonts/Montserrat-ExtraBold.ttf);
}





@theme {

  /* Custom Colors */
  --color-bg-body: #101828;
  --color-secondary: #060010;
  --color-secondary2: #a269ff;
  --color-borderLight: #f1e6ff;

  /* Custom Fonts */

  --font-primary1: inter, "monospace";
  --font-secondary: fira, "sans-serif";
  --font-primary: primary, "sans-serif";
  --font-primaryBold: primaryBold, "sans-serif";
  --font-primaryLight: monsterratLight, "sans-serif";
  --font-primaryELight: primaryELight, "sans-serif";
}

body{
  scroll-behavior: smooth;
}

.contactBtn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  background: transparent;
  cursor: pointer;

  transition: 0.5s ease;
  user-select: none;
}

.contactBtn:hover {
  color: #ffffff;
  background: var(--secondary2); /* uses your theme color */
  border: 1px solid var(--secondary2);
  text-shadow: 0 0 5px #ffffff, 
               0 0 10px #ffffff, 
               0 0 20px #ffffff;
  box-shadow: 0 0 5px var(--secondary), 
              0 0 20px var(--secondary), 
              0 0 50px var(--secondary),
              0 0 100px var(--secondary);
}


.water-fill {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath fill='%239933ff' fill-opacity='0.6' d='M0 100 Q50 80 100 100 T200 100 V200 H0 Z'%3E%3C/path%3E%3C/svg%3E")
    repeat-x;
  background-size: 200px 200px;
  animation: wave 2s linear infinite;
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
}

.group:hover .water-fill {
  transform: translateY(0%);
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 200px;
  }
}

@keyframes shake {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out infinite;
}

.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}


.About::after{
  content: "";
  position: absolute;
  right: -70px;
  bottom: -50px;
  height: 300px ;
  width: 300px;
  background: var(--color-secondary2);
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.7;
}